<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>True</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>None</AuthenticationType>
    <RequiresIntrinsicDataSource>true</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <PackageLocation>../Publish//AssetTracker.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <LightSwitchExcludeSetParameter>{dbFullSql_Path};{Update web.config connection string};{LightSwitchApplication_Path}</LightSwitchExcludeSetParameter>
    <WPPAllFilesInSingleFolder>../Bin/Debug/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../Bin/Debug/AssetTracker.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../Bin/Debug/AssetTracker.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../AssetTracker.lsproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>